@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');

.site_menu{
    font-family: 'Signika Negative', sans-serif;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 42, 42);
    color:rgb(151, 146, 146);
    font-size: 14px;
    height: 30px;
}
.site_menu >div{
    display:flex;
    padding:0 20px;
    justify-content: space-between;
    align-items: center;
    width:12%;
}
.site_menu .site_menu_div{
    width:15%;
}
.site_menu >div>div{
    cursor:pointer;
  
}
.site_menu >div>div:hover{
    transition: .5s all ease-in-out;
    color:blueviolet;
}
.category_menu{
    font-family: 'Signika Negative', sans-serif;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color:rgb(151, 146, 146);
    font-size: 20px;
    height: 50px;
}
.category_menu > div{
    display:flex;
    padding:0 40px;
    justify-content: space-between;
    align-items: center;
}
.category_menu .categories{
    width:40%;
}
.category_menu >div>div{
    cursor:pointer;
}
.category_menu .categories>div {
    display: block;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: capitalize;
}
.category_menu .categories .submenu{
    transition: .5s all ease-in-out;
   visibility: collapse;
    position: absolute;
    list-style: none;
 z-index: 100;
    transform:scaleY(0) translate(-30%,100%) ;

}
.submenu >li{
    position: relative;
    background-color: rgb(43, 42, 42);
    display: block;
    width:150%;
    line-height: 40px;
    text-transform: capitalize;
}
.submenu >li:hover{
    transition: .45s all ease-in-out;
    color:purple;
    border-bottom: 1px solid purple;
}
.category_menu .categories>div:hover > .submenu{
visibility: visible;
transform: scaleY(1) translate(-30%,65%) ;


}
.category_menu .categories>div:hover{
    transition: .3s all linear;
    background-color: rgb(43, 42, 42);
}
.search_btn{
    height: 50px;
    cursor: pointer;
  }
  
  .search_btn:hover{
    background-color: rgb(43, 42, 42);
  }