.Admin_allposts{
display: flex;
justify-content: center;
align-items: flex-start;
}
.Admin_allposts_container h2{
margin:0;

}
.Admin_allposts_container{
    width:90%;
    margin: 20px 0;


}
.admin_eachPosts{
display:flex;
width:100%;
justify-content: space-between;
align-items: center;
padding:18px 0;
border: 1px solid rgb(119, 114, 114);
}
.admin_eachPosts div{
    margin: 0 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: capitalize;
}
.edit_post{
    color: blue;
    cursor: pointer;
}