.deskFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: rgb(151, 146, 146);
  text-transform: capitalize;
  bottom: 0;
}
.deskFooter > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}
.deskFooter > div > div {
  padding: 15px;
  cursor: pointer;
}
.deskFooter > div > div:hover{
    color: darkmagenta;
    transition: linear all .3s;
}
@media only screen and (max-width:600px){
.deskFooter{
  flex-direction: column;
}
.deskFooter>div{
width:100%;
}
.deskFooter>div:last-child{
 margin-bottom: 10px;
  }
}
@media only screen and (max-width:750px){
  .deskFooter{
    flex-direction: column;
  }
  .deskFooter>div{
  width:100% !important;
  }

  .deskFooter>div:last-child{
   margin-bottom: 10px;
    }
  }
@media only screen and (max-width:1100px){
 
  .deskFooter>div{
  width:50%;
  }
 
  }
  @media only screen and (max-width:350px){
 
    .deskFooter>div:first-child{
    width:100% !important;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    }
    .deskFooter>div>div{
      width:49%;
      padding: 3px 0 !important;
      font-size: 13px;

      }
      .deskFooter>div:last-child{
       font-size: 10px;
        }
    }
    @media only screen and (max-width:375px){
 
      .deskFooter>div:first-child{
      width:100% !important;
      display: flex;
      flex-wrap: wrap;
      margin: 5px 0;
      }
      .deskFooter>div>div{
        padding: 7px  !important;
        font-size: 15px;
        }
  
      }