.NewPosts{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.NewPosts .title h1{
    margin: 0;
}
.NewPosts .title{
    margin: 20px;
    width:90%;

}
.NewPosts .title input{
    width:99.2%;
    outline: 0;
    height: 50px;
    font-size: 35px;
}
.NewPosts .title input::-webkit-input-placeholder{
    font-size: 35px;
    padding: 0px 3px;
}
.NewPosts .category{
    width:80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: rgb(175, 141, 204) 0px 0px 5px 1px;
    padding: 20px;
    margin: 30px 0
}
.NewPosts .category>label{
    line-height: 20px;
    margin-left: 8px;
}

.NewPosts .category>h3{
    margin-bottom:7px ;
}
.NewPosts .select{
    width:95%;
    margin: 10px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;

    
}
.NewPosts .select div select{
    width:100%;
    outline: 0;
    height: 25px;
}
.NewPosts .select div h3{
   margin: 0;
}
.Text_Body{
    width:90%;
    border: 2px solid black;
    min-height: 300px;
}
.Publish{
    padding:8px 15px;
    background-color: rgb(33, 13, 51);
    color:white;
    border-radius: 5px;
cursor: pointer;
}
.Publish:hover{
    transition: .3s linear all;
background-color: rgb(56, 3, 105);
}
.form_post{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.Editor_input{
    width:75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.form_options{
    width:25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.admin_specification{
    width:80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: rgb(175, 141, 204) 0px 0px 5px 1px;
    padding: 20px;
    margin: 50px 0

}
.admin_specification>label{
    margin-left: 8px;
    line-height: 25px;
}
.admin_specification>label input,.admin_specification>label select{
    width: 70px;
    margin: 0 10px;
}
.admin_specification>h3{
margin-bottom: 10px;
}
.post-image{
    width:90%;
    height: 150px;
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.post_img{
    width:50%;
    height:100%;
    border:2px dashed blue;
    background-image: url();
    background-color: #cccccc;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon{
width:100%;
height: 100%;
background-color: black;
opacity: .6;
transform: scaleX(0);
transition: .4s ease-in-out all;
font-size: 50px;
display: flex;
justify-content: center;
align-items: center;
color: white;
cursor: pointer;
}
.post_img:hover>.icon{
    transform: scaleX(1);
}


@media only screen and (max-width:600px){
.Editor_input{
    width: 100% !important;
}
.form_options{
    width: 100% !important;
    font-size: 25px;
}
.form_options .category label{
    line-height: 40px !important;
}
.form_options .category label input{
    margin: 0 10px;
}
.admin_specification>label input,.admin_specification>label select{
    width: 100% !important;
    height: 40px;
    margin: 10px !important;
    border: 1px solid black;
    font-size: 20px !important;
}
.admin_specification>label{
    width: 90%;
    line-height: 40px;
}
.admin_specification{

    margin: 15px 0 !important;

}
.post_img{
    width: 100% !important;
}
.post_img .icon{
    transform: scaleX(1) !important;
}
  }
  